﻿@using Client_ViewModel.Order
@using Microsoft.AspNetCore.Html
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@model InvoiceOrderViewModel
<div class="main-container" style="padding: 0; display: flex; justify-content: center;">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="row expanded myfrm" id="myfrm">
                <style>
                    @@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
                    .myfrm {
                        margin: 0;
                    }

                        .myfrm .callout.large.invoice-container {
                            padding: 15px;
                            background-color: #FFFFFF;
                        }

                        .myfrm table.invoice {
                            width: 100%;
                        }

                            .myfrm table.invoice .num {
                                font-weight: 500;
                                text-transform: uppercase;
                                letter-spacing: 1.5px;
                                font-size: 0.8em;
                            }

                            .myfrm table.invoice tr,
                            .myfrm table.invoice td {
                                background: #fff;
                                text-align: left;
                                font-weight: 400;
                                color: #000000;
                            }

                                .myfrm table.invoice tr.header-bill td img {
                                    max-width: 300px;
                                }

                                .myfrm table.invoice tr.header-bill td h2 {
                                    text-align: right;
                                    font-family: Roboto;
                                    font-weight: 500;
                                    font-size: 2rem;
                                    color: #000000;
                                }

                                .myfrm table.invoice tr.intro td:nth-child(2) {
                                    text-align: right;
                                }

                                .myfrm table.invoice tr.details > td {
                                    padding-top: 4rem;
                                    padding-bottom: 0;
                                }

                                .myfrm table.invoice tr.details td.id,
                                .myfrm table.invoice tr.details th.id,
                                .myfrm table.invoice tr.details td.qty,
                                .myfrm table.invoice tr.details th.qty {
                                    text-align: left;
                                }

                                .myfrm table.invoice tr.details td:last-child,
                                .myfrm table.invoice tr.details th:last-child {
                                    text-align: right;
                                }

                                .myfrm table.invoice tr.details table thead,
                                .myfrm table.invoice tr.details table tbody {
                                    position: relative;
                                }

                                    .myfrm table.invoice tr.details table thead:after,
                                    .myfrm table.invoice tr.details table tbody:after {
                                        content: '';
                                        height: 1px;
                                        position: absolute;
                                        width: 100%;
                                        left: 0;
                                        margin-top: -1px;
                                        background: #000000;
                                    }

                                .myfrm table.invoice tr.totals td {
                                    padding-top: 0;
                                }

                                .myfrm table.invoice tr.totals table tr td {
                                    padding-top: 0;
                                    padding-bottom: 0;
                                }

                                    .myfrm table.invoice tr.totals table tr td:nth-child(1) {
                                        font-weight: 500;
                                    }

                                    .myfrm table.invoice tr.totals table tr td:nth-child(2) {
                                        text-align: right;
                                        font-weight: 500;
                                    }

                                .myfrm table.invoice tr.totals table tr:nth-last-child(2) td {
                                    padding-bottom: 0.5em;
                                }

                                    .myfrm table.invoice tr.totals table tr:nth-last-child(2) td:last-child {
                                        position: relative;
                                    }

                                        .myfrm table.invoice tr.totals table tr:nth-last-child(2) td:last-child:after {
                                            content: '';
                                            height: 4px;
                                            width: 110%;
                                            border-top: 1px solid #000000;
                                            border-bottom: 1px solid #000000;
                                            position: relative;
                                            right: 0;
                                            bottom: -0.575rem;
                                            display: block;
                                        }

                                .myfrm table.invoice tr.totals table tr.total td {
                                    font-size: 1.2em;
                                    padding-top: 0.5em;
                                    font-weight: 700;
                                }

                                    .myfrm table.invoice tr.totals table tr.total td:last-child {
                                        font-weight: 700;
                                    }

                        .myfrm .additional-info h5 {
                            font-size: 0.8em;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: #000000;
                        }

                        .myfrm .row {
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }

                    .mg-top {
                        margin: 5px 0 0 0;
                    }

                    .myfrm {
                        font-family: Roboto !important;
                    }

                    .tb-details td {
                        word-wrap: break-word;
                        word-break: break-word;
                        white-space: normal;
                        max-width: 110px;
                    }

                    .product {
                        word-wrap: break-word !important;
                        word-break: break-word !important;
                        white-space: normal !important;
                        max-width: 95px !important;
                    }

                    @@media print {
                        .print-hide {
                            display: none !important;
                        }

                        .thank-text {
                            text-align: center !important;
                        }
                    }
                </style>
                <div class="columns">
                    <div class="inner-container">
                        <div class="row">
                            <div class="callout large invoice-container">
                                <div style="text-align: center; padding:10px 0;">
                                    <h1 style="font-weight: 700;">@Model.Setting.BrandName</h1>
                                </div>
                                <table class="invoice">
                                    <tr style="height: 15px;"></tr>
                                    <tr class="intro">
                                        <td class="text-left">
                                            <span class="num">Số HĐ: @Model.Order.Code</span>
                                        </td>
                                        <td class="text-right">
                                            <span class="num">Ngày: @Model.Payment.CreatedOn.ToString("dd/MM/yyyy")</span>
                                        </td>
                                    </tr>
                                    <tr class="intro">
                                        <td class="text-left">
                                            <span class="num">Giờ vào: @Model.Order.CreatedOn.ToString("HH:mm")</span>
                                        </td>
                                        <td class="text-right">
                                            <span class="num">Giờ ra: @Model.Payment.CreatedOn.ToString("HH:mm")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <section class="additional-info">
                                                <div class="row mg-top">
                                                    <div class="columns">
                                                        <h5 class="mg-top">HĐ Thanh Toán</h5>
                                                    </div>
                                                </div>
                                            </section>
                                        </td>
                                    </tr>
                                    <tr class="details mg-top">
                                        <td colspan="2" style="padding-top: 5px;">
                                            <table style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th>TT</th>
                                                        <th class="id">Tên SP</th>
                                                        <th class="amt">Đơn Giá</th>
                                                        <th class="qty">SL</th>
                                                        <th class="amt">Thành Tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="tb-details">
                                                    @{
                                                        if (Model.Orders != null)
                                                        {
                                                            int count = 1;
                                                            foreach (var item in Model.Orders)
                                                            {
                                                                HtmlString name = new HtmlString(item.ProductName.Replace("<br>", ""));
                                                                <tr class="item mg-top">
                                                                    <td>@count</td>
                                                                    <td class="id product num">@name</td>
                                                                    <td class="amt">@item.Price.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("de"))</td>
                                                                    <td class="qty">@item.Quantity</td>
                                                                    <td class="amt">@item.SubTotal.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("de"))</td>
                                                                </tr>
                                                                count++;
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="height: 12px;">
                                    </tr>
                                    <tr class="totals mg-top">
                                        <td></td>
                                        <td>
                                            <table>
                                                <tr class="subtotal">
                                                    <td class="num"><b>Tổng Cộng:</b></td>
                                                    <td class="num">@Model.Order.Total.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("de"))</td>
                                                </tr>
                                                <tr class="fees">
                                                    <td class="num"><b>Tiền Khách Đưa:</b></td>
                                                    <td class="num"><span id="recievetext">@Model.Payment.Received.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("de"))</span></td>
                                                </tr>
                                                <tr class="tax">
                                                    <td class="num"><b>Tiền Trả Khách:</b></td>
                                                    <td class="num"><span id="changetext">@Model.Payment.Changed.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("de"))</span></td>
                                                </tr>
                                                <tr class="total">
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <section class="additional-info">
                                    <div class="row mg-top">
                                        <div class="columns">
                                            <h5 class="mg-top   ">Hình Thức Thanh Toán</h5>
                                            <p class="mg-top">● <span id="paymentmethodtext">@(Model.Payment.PaymentMethod == 1 ? "Thanh Toán Bằng Tiền Mặt" : "Thanh Toán Chuyển Khoản")</span></p>
                                        </div>
                                    </div>
                                </section>
                                <section class="additional-info">
                                    <div class="row" style="display: block;">
                                        <div class="columns mg-top">
                                            <h5 style="margin: 12px 0;">Thông Tin Liên Hệ</h5>
                                            <p class="mg-top text">● @Model.Setting.Addrress</p>
                                            <p class="mg-top text">● Hotline: @Model.Setting.Hotline</p>
                                        </div>
                                        <div class="columns mg-top text-center thank-text">
                                            <h5 style="text-transform: none;">(WIFI: @Model.Setting.Wifi)</h5>
                                            <h5 class="mg-top"><i>Cảm Ơn Quý Khách Và Hẹn Gặp Lại!</i></h5>
                                        </div>
                                    </div>
                                </section>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="print-hide" style="display: flex; justify-content: flex-end;">
                <button type="button" onclick="print()" class="btn btn-success" style="margin-right: 5px;">In HĐ</button>
                <a type="button" href="order/detail/@Model.Order.Id" class="btn btn-primary">Trở Về</a>
            </div>
        </div>
    </div>
</div>
<!--Notify-->
<ul class="notifications"></ul>
@section Scripts {
    <script>
        function print() {
            var printdata = document.getElementById("myfrm");
            newwin = window.open("");
            newwin.document.write(printdata.outerHTML);
            newwin.print();
            newwin.close();
        }
    </script>
    @if (ViewBag.Success != null)
    {
        <script>
            $(function () {
                toastSuccess('@Html.Raw(ViewBag.Success)');
            });
        </script>
    }

    @if (ViewBag.Error != null)
    {
        <script>
            $(function () {
                toastError('@Html.Raw(ViewBag.Error)');
            });
        </script>
    }
}