@using Cosplane_API_ViewModel.Employee
@model List<EmployeeViewModel> 

    <style>
    .table td {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
        .table td.action-cell {
            overflow: visible; 
            white-space: normal;
        }

    .modal .modal-body {
        word-wrap: break-word;
        white-space: normal;
    }

    .modal .modal-content {
        max-width: 500px;
        overflow-wrap: break-word;
    }

    .modal .modal-title {
        overflow-wrap: break-word;
    }
    </style>

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header background-blue">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="light-text">
                        <h4 class="light-text">Quản Lý Quản Trị Viên</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="light-text" href="/">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active light-text" aria-current="page">
                                Danh sách nhân viên
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Simple Datatable start -->
        <div class="card-box mb-30">
            <div class="pd-20">
                <h4 class="h4">Danh sách nhân viên</h4>
                <p class="mb-30">Danh sách tất cả nhân viên</p>
            </div>
            <div class="pb-20">
                <table class="table data-table-export hover">
                    <thead>
                        <tr>
                            <th class="table-plus datatable-nosort">#</th>
                            <th>Tài Khoản</th>
                            <th>Họ và Tên</th>
                            <th>Email</th>
                            <th>SĐT</th>
@*                             <th>Identified</th> *@
                            <th>Trạng Thái</th>
                            <th class="datatable-nosort">Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            int count = 1;
                            foreach (var manager in Model)
                            {
                                <tr>
                                    <td><p class="text-blue">@count</p></td>
                                    <td>@manager.Username</td>
                                    <td>@manager.Fullname</td>
                                    <td>@manager.Mail</td>
                                    <td>@manager.Phone</td>
@*                                     <td>
                                        @if (manager.IsActive)
                                        {
                                            <span class="badge badge-pill active-badge">
                                                <i style="color:green" class="icon-copy bi bi-record-fill"></i> Verified
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill deactivated-badge">
                                                <i class="icon-copy bi bi-record"></i> Not Verified
                                            </span>
                                        }
                                    </td> *@
                                    <td>
                                        @if (manager.IsActive)
                                        {
                                            <span class="badge badge-pill active-badge">
                                                <i style="color:green" class="icon-copy bi bi-record-fill"></i> Đang hoạt động
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill deactivated-badge">
                                                <i class="icon-copy bi bi-record"></i> Dừng hoạt động
                                            </span>
                                        }
                                    </td>
                                    <td class="action-cell">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Thao tác
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/Admin/Update/@manager.AccId">
                                                    <i class="icon-copy bi bi-tools"></i> Cập nhật
                                                </a>
                                                @if (manager.IsActive)
                                                {
                                                    <button class="dropdown-item" onclick="deletePress('@manager.AccId','@manager.Fullname')">
                                                        <i class="icon-copy bi bi-trash2"></i> Xóa
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="dropdown-item" onclick="activatePress('@manager.AccId','@manager.Fullname')">
                                                        <i class="icon-copy bi bi-check-circle"></i> Kích hoạt
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        else
                        {
                            <tr><td colspan="8">Không tìm thấy nhân viên nào</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Simple Datatable End -->
    </div>
</div>
<!-- Activate Confirmation Modal -->
<div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vui Lòng Xác Nhận Hành Động Kích Hoạt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn kích hoạt tài khoản: <b id="activeManager"></b> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <form asp-action="Activate" asp-controller="Admin" method="post" style="display:inline;">
                    <input type="hidden" name="accId" id="activateAccId" />
                    <button type="submit" class="btn btn-success">Kích Hoạt</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vui Lòng Xác Nhận Hành Động Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa tài khoản: <b id="manager"></b> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <form asp-action="delete" asp-controller="Admin" method="post">
                    <input type="hidden" name="accId" id="deleteAccId" />
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>
<ul class="notification-list"></ul>
@section Scripts {

    <script>
        function activatePress(accId, name) {
            document.getElementById("activeManager").innerHTML = name;
            document.getElementById("activateAccId").value = accId;
            $('#activateModal').modal('show');
        }

        function deletePress(accId, name) {
            document.getElementById("manager").innerHTML = name;
            document.getElementById("deleteAccId").value = accId;
            $('#deleteModal').modal('show');
        }
    </script>

    @if (ViewBag.Error != null)
    {
        <script>
            $(function () {
                toastr.error('@ViewBag.Error', 'Error Occurred!')
            });
        </script>

    }
    @if (ViewBag.Success != null)
    {
        <script>
            $(function () {
                toastr.success('@ViewBag.Success', 'Successful!')
            });
        </script>

    }
}
   