@using Client_ViewModel.Category
@model MainCategoryViewModel

<style>
    .dropdown-item i {
        margin-right: 10px;
    }

    .modal-body {
        overflow: auto !important;
    }
</style>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header background-blue">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Danh Mục</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="Home/Index">Trang Chủ</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Danh Sách
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div style="padding: 20px 20px 0 20px;">
                    <div style="text-align: right;">
                        <button type="button" id="btn-create" class="btn btn-success" data-toggle="modal" data-target="#createModel">Thêm Mới</button>
                    </div>
                </div>
                <div class="pd-20">
                    <h4 class="h4">Danh Sách Danh Mục</h4>
                </div>
                <div class="pb-20">
                    <table class="table data-table-export hover display nowrap" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="datatable-nosort">#</th>
                                <th>Tên Danh Mục</th>
                                <th>Ngày Tạo</th>
                                <th>Người Tạo</th>
                                <th>Trạng Thái</th>
                                <th class="datatable-nosort">Tùy Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Categories != null && Model.Categories.Count > 0)
                            {
                                int count = 1;
                                foreach (var category in Model.Categories)
                                {
                                    <tr>
                                        <td data-toggle="tooltip" data-placement="top" title="@count">
                                            <div>@count</div>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="top" title="@category.Name">
                                            <div class="txt-title">
                                                @category.Name
                                            </div>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="top" title="@category.CreatedOn.ToString("dd/MM/yyyy")">
                                            <div class="txt-title">
                                                @category.CreatedOn.ToString("dd/MM/yyyy")
                                            </div>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="top" title="@category.CreatedBy">
                                            <div class="txt-title">
                                                @category.CreatedBy
                                            </div>
                                        </td>
                                        <td>
                                            @if (category.IsActive)
                                            {
                                                <span class="badge badge-pill active-badge" style="padding: 0;font-size: 12px;">
                                                    <i style="color:green" class="icon-copy bi bi-record-fill"></i> Hoạt Động
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill deactivated-badge" style="padding: 0;font-size: 12px;">
                                                    <i class="icon-copy bi bi-record"></i> Ngừng Hoạt Động
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0;">
                                                    Tùy Chọn
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="/Category/Detail/@category.Id">
                                                        <i class="icon-copy bi bi-info-circle"></i> Chi Tiết
                                                    </a>
                                                    @if (category.IsActive)
                                                    {
                                                        <button class="dropdown-item" onclick="deletePress('@category.Id','@category.Name')">
                                                            <i class="icon-copy bi bi-trash2"></i> Ngưng Hoạt Động
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="dropdown-item" onclick="activatePress('@category.Id','@category.Name')">
                                                            <i class="icon-copy bi bi-check-circle"></i> Hoạt Động
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                            else
                            {
                                <tr><td colspan="8">Không Có Danh Mục Nào Được Tìm Thấy</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Create Modal -->
    <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-hidden="true" style="top: 0;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tạo Mới Danh Mục</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="Create" asp-controller="category" method="post" style="display:inline;">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tên Danh Mục* :</label>
                                    <input type="text" class="form-control username" asp-for="@Model.CreateCategory.Name" maxlength="100" />
                                    <span asp-validation-for="@Model.CreateCategory.Name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="submit" class="btn btn-success">Xác Nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Activate Confirmation Modal -->
    <div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 0;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập Nhật Trạng Thái</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Xác nhận: Danh Mục <b id="activeAdmin"></b> hoạt động trở lại?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <form asp-action="UpdateActive" asp-controller="category" method="post" style="display:inline;">
                        <input type="hidden" name="categoryId" id="activateAccId" />
                        <button type="submit" class="btn btn-success">Hoạt Động</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 0;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập Nhật Trạng Thái</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Xác nhận: Danh Mục <b id="adminUnActive"></b> sẽ ngưng hoạt động ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <form asp-action="UpdateActive" asp-controller="category" method="post" style="display:inline;">
                        <input type="hidden" name="categoryId" id="deleteAccId" />
                        <button type="submit" class="btn btn-danger">Ngưng Hoạt Động</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Notify-->
<ul class="notifications"></ul>
<ul class="notification-list"></ul>


@section Scripts {
    <script>
        function activatePress(categoryId, name) {
            document.getElementById("activeAdmin").innerHTML = name;
            document.getElementById("activateAccId").value = categoryId;
            $('#activateModal').modal('show');
        }

        function deletePress(categoryId, name) {
            document.getElementById("adminUnActive").innerHTML = name;
            document.getElementById("deleteAccId").value = categoryId;
            $('#deleteModal').modal('show');
        }
    </script>
    @if (ViewBag.Success != null)
    {
        <script>
            $(function () {
                toastSuccess('@Html.Raw(ViewBag.Success)');
            });
        </script>
    }

    @if (ViewBag.Error != null)
    {
        if (ViewBag.Error == "Vui lòng kiểm tra lại các thông tin đã nhập")
        {
            <script>
                $(function () {
                    $('#createModel').modal('show');
                });
            </script>
        }
        <script>
            $(function () {
                toastError('@Html.Raw(ViewBag.Error)');
            });
        </script>
    }
}
